In [2]:
import pandas as pd

In [3]:
pd.read_csv('Resources/crime_rates.csv')

,year,city_name,city_types,id_city,city_population,cpi,rev_total_city,rev_general_city,intergovt_rev_city,igr_federal_city,...,cash_other_offsets,cash_other_bonds,cash_other_other,county_name,id_county,county_population,relationship_city_school,enrollment,districts_in_city,consolidated_govt
0,1977,AK: Anchorage,core,22002001,174500,4.044885,5342.24,4956.92,2148.77,279.32,...,178.51,787.93,691.32,NaN,NaN,NaN,4.0,36855.0,NaN,1.0
1,1978,AK: Anchorage,core,22002001,177000,3.759509,5948.99,5490.05,2468.11,403.24,...,187.53,1395.82,1158.01,NaN,NaN,NaN,4.0,36804.0,NaN,1.0
2,1979,AK: Anchorage,core,22002001,179600,3.376308,6158.68,5746.64,2573.34,496.97,...,249.03,1812.04,1314.62,NaN,NaN,NaN,4.0,36757.0,NaN,1.0
3,1980,AK: Anchorage,core,22002001,178800,2.974757,5654.93,5210.77,2313.62,371.46,...,986.73,1330.72,1572.66,NaN,NaN,NaN,4.0,36008.0,NaN,1.0
4,1981,AK: Anchorage,core,22002001,174431,2.696590,6192.83,5736.81,2771.43,338.76,...,977.32,1549.51,1669.55,NaN,NaN,NaN,4.0,34557.0,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8933,2013,WY: Cheyenne,core,512011003,61420,1.052211,1759.65,1388.54,691.83,0.00,...,0.00,356.49,2443.35,Laramie,511011011.0,94690.0,2.0,8972.0,1.0,0.0
8934,2014,WY: Cheyenne,core,512011003,62104,1.035415,2084.62,1789.64,995.35,347.20,...,0.05,368.39,2607.96,Laramie,511011011.0,95706.0,2.0,8972.0,1.0,0.0
8935,2015,WY: Cheyenne,core,512011003,62259,1.034187,1901.58,1613.17,767.70,90.31,...,0.00,344.11,2839.67,Laramie,511011011.0,96038.0,2.0,8972.0,1.0,0.0
8936,2016,WY: Cheyenne,core,512011003,62904,1.021304,1745.83,1433.06,586.85,78.16,...,0.00,554.85,2532.48,Laramie,511011011.0,97006.0,2.0,8972.0,1.0,0.0
8937,2017,WY: Cheyenne,core,512011003,63483,1.000000,1775.03,1454.77,628.39,103.62,...,0.00,465.23,2595.86,Laramie,511011011.0,97978.0,2.0,8972.0,1.0,0.0

In [ ]:
crime_rates_df.head()

In [ ]:
crime_rates.drop(crime_rates_df.columns[[0,1]], axis=1,inplace=True)